@font-face {
    font-family: Montserrat-light;
    src: url(..//webfonts/Montserrat-Light.otf);
}
@font-face {
    font-family: Montserrat;
    src: url(..//webfonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: Bauhaus;
    src: url(..//webfonts/Gravity-Regular.otf);
}
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(30, 30, 30);
}
.header {
    background-color: #000000;
    border-radius: 20px;
    box-shadow: -0.781px -1.841px 22.8px 17.2px rgba(0, 0, 0, 0.29);
}
.header_inner {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1.0) 5%, transparent 100%),
    url(..//img/bg.png);
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.nav {
    display: flex;
    list-style: none;
    padding: 0 0 500px 0;
    margin: 25px 0 0 0x;
}
.nav li a {
    font-family: Montserrat-light;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
}
.nav li a:hover {
    background-color: #d97f27;
    color: #fff;
    border-radius: 5px;
}
.logo img {
    padding: 30px;
    width: 150px
}
.moto {
    padding: 0 30px;
}
.start {
    text-align: right;
    font-family: Montserrat;
    color: #d97f27;
    text-transform: uppercase;
    font-size: 65px;
    line-height: 65px;
}
.h_sp {
    color: white;
    font-size: 100px;
    line-height: 100px;
}
p {
    text-align: right;
    font-family: Montserrat-light;
    color: white;
    padding-bottom: 50px;
}
.service {
    padding: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(223, 223, 223);
    border-radius: 20px;
    box-shadow: -0.781px -1.841px 22.8px 17.2px rgba(0, 0, 0, 0.29);
}
.title {
    padding: 0 0 50px 0;
}
.our {
    font-family: Montserrat;
    color: #d97f27;
    text-transform: uppercase;
    font-size: 65px;
}
.s_sp {
    font-size: 65px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.block {
    padding-right: 50px;
}
.fa-solid {
    font-size: 50px;
    color: #d97f27;
}
.block_txt {
    font-family: Montserrat-light;
    color: rgb(60, 60, 60);
    padding-bottom: 30px;
    font-size: 14px;
}
.story_inner {
    background-color: #000000;
    padding: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: -0.781px -1.841px 22.8px 17.2px rgba(0, 0, 0, 0.29);
}
.story_txt {
    font-family: Montserrat-light;
    color: white;
}
.button a {
    font-family: Montserrat;
    background-color:  #d97f27;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}
.button a:hover {
    background-color: #000000;
    color: #fff;
}
.pricing {
    padding: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: rgb(223, 223, 223);
}
.pricing_title {
    text-align: center;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 65px;
    margin: 20px 0 50px 0;
}
.name {
    text-align: center;
    color: black;
    margin: 0;
}
.cost {
    font-family: Montserrat;
    font-size: 80px;
    color: #d97f27;
    margin: 0;
}
.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: circle;
    padding-bottom: 30px;
    
}
.card {
    text-align: center;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: -0.585px -1.913px 13.4px 6.6px rgba(0, 0, 0, 0.1);
}
.cost_button a {
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    margin: 40px 0 20px 0px;
    background-color:  #000000;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}
.cost_button a:hover {
    background-color: #d97f27;
    color: #fff;
}
.list {
    text-align: left;
    padding-bottom: 20px;
}
.pt {
    font-family: Montserrat-light;
    line-height: 25px;
}
.name {
    font-family: Montserrat-light;
    font-size: 30px;
}
.footer_inner {
    padding: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.logo_foot {
    height: 20px;
}
.rights a{
    color: #d97f27;
    text-decoration: none;
}
.rights {
    padding-top: 50px;
    margin: 0;
}